.button_account {
    background-color: $purple;
    border-radius: 30px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 900;

    img {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }

    a {

        font-size: 0.875rem;
        color: #fff;
        margin: 0 5px;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            color: $lightPurple;
        }
    }
}

.button_tag {
    background: $bgButtonTag;
    color: $colorButtonTag;
    font-weight: 550;
    padding: 10px 20px;
    width: fit-content;
}

.button_tag_white {
    background-color: #fff;
}

.btnSubmit {
    text-align: center;

    button {
        background-color: $purple;
        font-weight: 700;
        font-size: 0.875rem;
        border-radius: 30px;
        padding: 6px 25px 6px 15px;
        margin: 20px auto 20px auto;
        border: 0;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        opacity: .6;
        @include anima-slow;

        .line {
            margin: 0 10px;
        }

        &:hover {
            background-color: $lightPurple;
            @include anima-slow;
        }
    }
}

.btn_cadastre {

    a {
        background-color: $purple;
        font-size: 0.875rem;
        font-weight: 700;
        border-radius: 30px;
        font-size: 0.875rem;
        color: #fff;
        padding: 12px 25px;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            background-color: $lightPurple;
        }
    }
}

.btn_register {
    a {
        background-color: $purple;
        font-size: 0.875rem;
        font-weight: 700;
        border-radius: 30px;
        font-size: 0.875rem;
        color: #fff;
        padding: 12px 25px;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            background-color: $lightPurple;
        }
    }
}

.btn_edit {
    a {
        font-size: 0.875rem;
        font-weight: 700;
        font-size: 0.875rem;
        color: $purple;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            color: $lightPurple;
        }
    }
}

.btn_submit {
    button {
        background-color: $purple;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 30px;
        padding: 15px 55px;
        margin: 20px auto 20px auto;
        border: 0;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            background-color: $lightPurple;
        }
    }
}

.btn_cancel {
    button {
        background-color: $pink;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 30px;
        padding: 15px 55px;
        margin: 20px auto 20px auto;
        border: 0;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        @include anima-slow;

        &:hover {
            @include anima-slow;
            background-color: $lightPurple;
        }
    }
}

.btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.add_tracking {
    text-align: center;
    margin: 30px 0;
    button {
        background: transparent;
        font-weight: bold;
        border: 0;
        color: $purple;
    }
}