.formulario {
    margin: 0 auto;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input,
    select,
    textarea {
        width: 95%;
        border-radius: 10px;
        border: 1px solid #BCBCBC;
        padding: 10px 12px;
        color: $anotherGray;
        outline-color: $purple;
        resize: none;
        @include anima-slow;
    }

    textarea {
        height: 160px;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $gray;
    }

    input[type=radio] {
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid #BCBCBC;
        padding: 10px;
        width: 5px;
        height: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include anima-slow;

        &:checked {
            border: 1px solid $purple;
            background-color: $purple;
            @include anima-slow;

            &:before {
                content: '\2713';
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
                @include anima-slow;
            }
        }

        &:active {
            @include anima-slow;
            background-color: $purple;
        }
    }

    input[type=checkbox] {
        width: 15px;
        height: 12px;
        margin-right: 5px;
        border: 1px solid #BCBCBC;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: 550;
        color: $gray;
        cursor: pointer;
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $black !important;
        color: #fff !important;
    }

    .item_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .item_card_ {
        margin-bottom: 15px;
    }

    .card-title {
        color: $gray;
        font-weight: 550;
        text-align: center;
        margin: 10px 0;
    }

    .cart_item {
        box-shadow: 0px 0 14px 1px rgba(0, 0, 0, .1);
        border: 0;
        text-align: center;
        border-radius: 10px;
    }

    .collapse_filter {
        .content_filter {
            display: none;
            margin-top: 15px;

            .itemInput {
                margin: 10px auto;
            }
        }

        .activeFilter {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

    }


    .activeLabel {
        flex-wrap: nowrap !important;
        align-items: center !important;
        justify-content: center !important;
        label {
            padding: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

@include responsivo(0, 407) {
    form {
        .item {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
    form {
        .cart_item {
            margin: 0 16px;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    form {
        label {
            font-size: 0.875rem;
        }
    }
}

.formulario_pages {
    .itemInput {
        margin-bottom: 30px;

        label {
            justify-content: flex-start;
            margin-bottom: 5px;
        }

        textarea {
            width: 97%;
        }
    }
}